In [1]:
import pandas as pd

In [39]:
while True:
  n = int(input("Enter an non-negative interger number: "))
  
  if n < 1:
     print('Enter a postive interger')
     continue
    
  break

Enter an non-negative interger number: 10

In [40]:
even = []
odd = []
fibo = [0,1]

for i in range(n):
  even.append(2*i)
  odd.append(2*i+1)

  if i > 1: fibo.append(fibo[i-2]+fibo[i-1])

In [ ]:
odd

In [ ]:
even

In [ ]:
fibo

In [34]:
len(even) == len(odd) == len(fibo) #Test to check the len of the three lists

True

In [42]:
results = pd.DataFrame({'even':even, 'odd':odd, 'fibo': fibo})
results

   even  odd  fibo
0     0    1     0
1     2    3     1
2     4    5     1
3     6    7     2
4     8    9     3
5    10   11     5
6    12   13     8
7    14   15    13
8    16   17    21
9    18   19    34